/* Empty. Add your own CSS if you like */

.loading-spinner {
  font-size: 30px;
  color: #ccc;
}

.loading-wrapper {
  text-align: center;
  padding-top: 40px;
}

@media all and (min-width: 600px) {
  .card {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    margin-left: 12px;
    margin-top: 10px;
  }

  .list {
    padding-top: 25px;
  }
}

.bar-header {
  height: 54px;
}

.list {
  text-align: center;
}

.bar-header .title {
  line-height: 54px;
  font-size: 20px;
  padding-left: 10px;
}

.bar-header .button {
  border: none;
  font-size: 20px;
}

.bar .button.button-icon:before, .bar .button .icon:before, .bar .button.icon:before, .bar .button.icon-left:before, .bar .button.icon-right:before {
  font-size: 25px;
}

.platform-browser .camera-button {
  display: none;
}
